<% provide(:title, t("static_pages.about.title")) %>
<h1><%= t("static_pages.about.title")%></h1>
<p>
  <%= t("static_pages.about.descrip1")%> <a href="http://www.railstutorial.org/"><em><%= t("static_pages.about.link1")%></em></a> <%= t("static_pages.about.descrip2")%>
  <a href="http://www.railstutorial.org/book"><%= t("static_pages.about.link2")%></a> <%= t("static_pages.about.descrip3")%>
  <a href="http://screencasts.railstutorial.org/"><%= t("static_pages.about.link3")%></a>
  <%= t("static_pages.about.descrip4")%>
  <a href="http://rubyonrails.org/"><%= t("static_pages.about.link4")%></a>.
  <%= t("static_pages.about.descrip5")%>
</p>
