<div class="center jumotron">
  <h1><%= t("layout.home.hello")%></h1>
  <h2><%= t("layout.home.descrip1")%>
    <a href="http://www.railstutorial.org/"><%= t("layout.home.link1")%></a>
    <%= t("layout.home.descrip2")%>
  </h2>
  <%= link_to "Sign up now!" , signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails Logo"),'http://rubyonrails.org/'%>
