<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t "micropost.micr_feed" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumotron">
    <h1><%= t("static_pages.home.hello")%></h1>
    <h2><%= t("static_pages.home.descrip1")%>
      <a href="http://www.railstutorial.org/"><%= t("static_pages.home.link1")%></a>
      <%= t("static_pages.home.descrip2")%>
    </h2>
    <%= link_to t("session.des2") , signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%= link_to image_tag("rails.png", alt: "Rails Logo"),"http://rubyonrails.org/"%>
<% end %>
